
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.bg-primary { background-color: darkolivegreen !important; }

.bg-dark { background-color: darkkhaki !important; }


.navbar {
  font-family: 'Times New Roman', sans-serif;}


p {
  font-family: 'Space Grotesk', sans-serif;
}





